.App {
  text-align: center;
}

body {
  background-color: black !important;
  color: white !important;
}

.modal-content {
  background-color: #000 !important;
  color: white !important;
  border: white solid 1px !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  text-decoration: none !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sideNavbar {
  width: 300px !important;
}

li a {
  text-decoration: none;
  border: #282c34 solid 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  /* color: #282c34; */
  font-weight: bold;
  background-color: white;
}

li a:hover {
  background-color: #282c34;
  color: white;
}

.loginContainer {
  border: 2px solid white;
  border-radius: 8px;
  padding: 40px;
  margin: 20px;
  width: 600px;
  height:350px;
  position: absolute;
  top: 20%;
  left: 30%;
  box-shadow: 20px 20px grey;
}

.loginButton button {
  background-color: transparent;
  border: 1px solid white;
  width: 80%;
}

.loginButton button:hover {
  background-color: transparent;
  border: 1px solid white;
  width: 80%;

}

.loginButton a {
  background-color: transparent;
  border: 1px solid white;
  width: 80%;
  margin-left: 28px !important;
}

.loginButton a:hover {
  background-color: transparent;
  border: 1px solid white;
  width: 80%;
}

.loginButton {
  float: left;
  width: 33.33%;
  margin-top: 20px;
}

.home-section1 {
  text-align: center;
  background-color: #000;
  padding: 100px 0;
}

.home-section2 {
  text-align: center;
  padding: 100px 0;
  background-color: #000;
}

.home-section3 {
  text-align: center;
  padding: 100px 0;
  background-color: #000;
}

.home-h1 {
  line-height: normal;
  font-size: 5rem;
  color: antiquewhite;
}

.home-h3-1 {
  line-height: 40px;
  font-size: xx-large;
  color: antiquewhite;
  margin-top: 50px;
}

.home-h3-2 {
  line-height: 40px;
  font-size: x-large;
  color: antiquewhite;
  margin-top: 50px;
}

.column {
  background-color: #000;
  float: left;
  width: 50% !important;
  height: 650px;
}

.column-1 {
  float: left;
  width: 50% !important;
  height: 650px;
}

.column-2 {
  float: left;
  width: 50% !important;
  height: 850px;
  padding-left: 100px !important;
}

.img-column {

  width: 100% !important;
  height: 320px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-filter:after {
  content: "";
  display: table;
  clear: both;
}

.home-p-1 {
  font-size: large;
  color: antiquewhite;
  margin-left: 100px;
  margin-right: 100px;
}

.home-carousel-img {
  width: auto;
  height: auto;
}

.row {
  --bs-gutter-x: none !important;
  background-color: transparent;
}

.row-filter {
  --bs-gutter-x: none !important;
  background-color: transparent;
  padding: 10px;
  padding-left: 10px;
}

.carousel .thumbs-wrapper {
  margin: 0px !important;
}

.circular--square {
  border-radius: 50%;
  margin: 25px;
  height: 200px;
  border: 5px solid #464040;
  width: 200px;
}

.img-circlle-title {
  text-align: center;
  font-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: larger;
  color: #e8e8e8;
}

.floating {
  margin-top: 50px;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

.img-fluid {
  padding: 10px;
  display: flex;
  height: 200px !important;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.home-list {
  text-align: center;
  list-style-type: none;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 0.0625rem);
  vertical-align: middle;
  border-style: none;
  border-top-right-radius: calc(0.25rem - 0.0625rem);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 500px;
  height: auto;
  word-wrap: break-word;
  border: 0.0625rem solid rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  background-color: #fff;
  background-clip: border-box;
  margin: 40px;
}

.shadow,
.profile-page .card-profile .card-profile-image img {
  box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%) !important;
}

[class*="shadow"] {
  transition: all 0.15s ease;
}

.border-0 {
  border: 0 !important;
}

.card .card-blockquote {
  position: relative;
  padding: 2rem;
}

blockquote {
  margin: 0 0 1rem;
}

.navbar-link {
  color: antiquewhite;
  text-decoration: none;
  font-size: larger;
}

.dropdown-item.active,
.dropdown-item:active {
  text-decoration: none;
  color: #000;
  background-color: #e8e8e8;
}

.dropdown {
  display: inline-block;
  position: relative;
  width: 100%;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.filter-column {
  float: left;
  width: 16.667% !important;
  padding: 10px;
}

.filter-column-reset {
  float: left;
  width: 16.667% !important;
  padding: 10px 45px 10px 10px !important;
}

.w-80 {
  margin: 40px;
}

.filter-dropdown,
.a-btn {
  background-color: transparent !important;
  color: #e8e8e8 !important;
  width: 100%;
  margin: 20px;
}

.modal-footer .btn {
  background-color: transparent !important;
  color: #e8e8e8 !important;
  margin: 20px;
  border: 2px solid white;
  text-decoration: none;
}

.modal-content {
  box-shadow: 0 30px 50px rgb(224, 223, 223);
}

.filter-dropdown {
  border: 2px solid white !important;
}

.reset {
  width: 80% !important;
  margin: 20px !important;
}

.nav {
  display: contents !important;
}

.navbarText {
  display: contents !important;
}

.navbar-brand {
  margin: 20px !important;
  font-size: xx-large !important;
}

.navbar-link {
  margin-left: 20px;
  font-size: 1.2rem;
}

main {
  background-color: #000;
}

.bg-default {
  background-color: transparent !important;
  border: 2px solid white !important;
  box-shadow: 20px 20px grey;
  margin-bottom: 50px !important;
}


.prop-box.box {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  background-color: transparent;
  position: relative;
  border-radius: 10px;
}

.prop-box.box .top {
  position: relative;
  max-height: 500px;
  margin-bottom: 15px;
  border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  height: 400px;
}

.prop-box.box .top:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(12 110 250 / 50%);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.prop-box.box .top:hover:before {
  opacity: 1;
}

.prop-box.box .top:after {
  content: "View Property";
  color: white;
  font-size: 12px;
  padding: 10px;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}

.prop-box.box .top:hover:after {
  opacity: 1;
}

.prop-box.box .top img {
  width: 100%;
  height: 100%;
}

.prop-box.box .top span {
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: white;
  font-size: 20px;
}

.prop-box.box .top span i {
  margin-left: 5px;
}

.prop-box.box .bottom {
  padding: 15px;
  position: relative;
  color: #e8e8e8;
  font-size: inherit;
  border: 2px solid #333;
  border-radius: 15px;
}

.prop-box.box:not(:last-of-type) .bottom:before {
  content: "Hot";
  background-color: #ea723d;
  color: white;
  font-size: 11px;
  padding: 4px 7px;
  position: absolute;
  left: 20px;
  top: -40px;
  z-index: 1;
}

.prop-box.box .bottom h3 {
  font-size: 15px;
  color: #e8e8e8;
  font-size: x-large;
}

.prop-box.box .bottom>p {
  margin: 15px 0;
  font-size: 13px;
  line-height: 1.4;
  color: #e8e8e8;
  font-size: large;
}

.prop-box.box .bottom .advants {
  display: flex;
  color: #e8e8e8;
  font-weight: 300;
  justify-content: space-between;
  margin-top: 15px;
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

.prop-box.box .bottom .advants>div {
  margin-right: 15px;
}

.prop-box.box .bottom .advants>div>span {
  font-weight: bold;
  font-size: 13px;
  color: #e8e8e8;
}

.prop-box.box .bottom .advants>div>div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.prop-box.box .bottom .advants>div>div i {
  color: #777;
  font-size: 22px;
}

.prop-box.box .bottom .advants>div>div>span {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.prop-box.box .bottom .advants>div>div>span>span {
  color: #777;
  font-weight: normal;
  margin-left: 5px;
}

.prop-box.box .bottom .price {
  margin-top: 20px;
}

.prop-box.box .bottom .price span:first-of-type {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.prop-box.box .bottom .price span:last-of-type {
  color: #e8e8e8;
  font-size: 18px;
}

.a-btn {
  background-color: transparent !important;
  color: #e8e8e8 !important;
  width: 100%;
  margin: 20px;
}

.property-detail-title {
  font-size: x-large;
  color: #e8e8e8;
  text-align: center;
}

.carousal {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 20px;
  height: 800px;
  width: 70%;
}

.detail-data {
  color: #e8e8e8;
  padding: 10%;
  font-size: xx-large;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--4 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 9;
}

#container {
  box-shadow: 20px 20px rgb(58, 57, 57);
  background: #000;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 0;
  width: 100%;
}

.product-details {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 20px 30px;
  height: 100%;
  float: right;
  width: 50%;
  margin-top: 2em;
}

#container .product-details h1 {
  display: block;
  position: relative;
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  text-align: left;
}

#container .product-details h1:before {
  position: absolute;
  content: "";
  right: 0%;
  top: 0%;
  transform: translate(25px, -15px);
  font-family: "Bree Serif", serif;
  display: inline-block;
  background: #ffe6e6;
  border-radius: 5px;
  font-size: 14px;
  /* padding: 5px; */
  color: white;
  margin: 0;
  animation: chan-sh 6s ease infinite;
}

.hint-star {
  display: inline-block;
  margin-left: 0.5em;
  color: gold;
  width: 50%;
}

#container .product-details>p {
  text-align: center;
  font-size: 14px;
  color: #c9c7c7;
  border: 1px solid #333;
  padding: 15px;
  border-radius: 15px;
}

/* .control {
  position: absolute;
  bottom: 20%;
  left: 22.8%;
} */

.btn {
  transform: translateY(0px);
  transition: 0.3s linear;
  background: #809fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: #eee;
  padding: 0;
  margin: 0;
}

.btn:hover {
  transform: translateY(-6px);
  background: #1a66ff;
}

.btn span {
  font-family: "Farsan", cursive;
  transition: transform 0.3s;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 0;
}

.btn span:hover {
  background-color: #000;
  border-radius: 8px;
  color: #fff;
}
.btn .price,
.shopping-cart {
  background: #333;
  border: 0;
  margin: 0;
}

.btn .price {
  transform: translateX(-10%);
  padding-right: 15px;
}

.btn .shopping-cart {
  transform: translateX(-100%);
  position: absolute;
  background: #333;
  z-index: 1;
  left: 0;
  top: 0;
}

.btn .buy {
  z-index: 3;
  font-weight: bolder;
}

.btn:hover .price {
  transform: translateX(-110%);
}

.btn:hover .shopping-cart {
  transform: translateX(0%);
}

.product-image {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: left;
  width: 50%;
  display: inline-block;
}

#container img {
  width: 100%;
  height: 100%;
}

.info {

  font-family: "Bree Serif", serif;
  line-height: 1.8;
  text-align: left;
  font-size: 16px;
  cursor: no-drop;
  color: #fff;
  height: 100%;
  width: 100%;

  padding: 20px;
}

.info h2 {
  text-align: center;
}

.info ul li {
  transition: 0.3s ease;
}

/* .info ul li:hover {
  transform: scale(1.1);
} */

.product-image:hover img {
  transition: all 0.3s ease-out;
}

.product-image:hover img {
  transform: scale(1.2, 1.2);
}

.dropdown-menu a a {
  color: #fff !important;
}

.dropdown-menu a a:hover {
  color: #000 !important;
}

.login-form {
  width: 40vw;
  font-size: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
}

.login-container {
  text-align: center;
  margin-top: 40vh;
}

.user-na {
  outline: 2px solid red;
}

input:focus {
  outline: none;
}

.chat-container {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 95vw;
  height: 80vh;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 5px 5px rgb(185, 185, 185);
  display: inline-flex;
}

.user-card {
  width: 100%;
  height: 2rem;
  border: 2px solid rgb(240, 240, 240);
  margin: 10px;
  padding: 15px;
  overflow: hidden;
  text-align: center;
}

.user-list-el {
  text-align: center;
  width: 100%;
  padding: 15px;
  margin-left: 10px;
  border: 1px solid rgb(243, 242, 242);
  cursor: pointer;
}

.user-list-el:hover {
  background-color: #c7b7fe;
  color: white;
}

.chat-window {
  width: 750px;
  margin-top: 10px;
  margin-left: 4rem;
}

.user-name-card {
  height: 50px;
  text-align: center;
  color: red;
  border: 1px solid white;
}

.message-container {
  border: 1px white solid;
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px;
}

.chat-text-area {
  padding: 10px;
  width: 96.8%;
}

.no-render-message {
  margin: 0 auto;
  margin-top: 30%;
}

.message-ribbon {
  width: 100%;
  text-align: center;
  border: 1px solid white;
}

.favoriteCard {
  width: 100%;
  border: 1px solid white;
  padding: 15px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  color: white;
  border-radius: 8px;
  box-shadow: 20px 20px grey;
}

.favoriteCard:hover {
  background-color: #3c3a43;
  color: white;
}

.navbar-nav {
  font-size: larger;
}

.nav-link {
  color: white !important;
}

.company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.company-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img {
  width: 100%;
  margin: 1rem 0rem 0rem 2rem;
}

.img img {
  width: 100%;
}

.company-info {
  width: 100%;
  margin-right: 4rem;
  margin-left: 1rem;
}

.company-info span {
  font-size: 2.5rem;
  font-weight: bold;
}

.company-info span .our {
  color: #ffdc0e;
}

.company-info p {
  font-size: 1.1rem;
}

.dropdown-menu {
  width: inherit !important;
  background: transparent !important;
  border: 2px solid white !important;
}

.dropdown-item {
  color: white !important;
}

.dropdown-item:hover {
  color: black !important;
}

.heart-icon {
  font-size: xx-large !important;
}

.about-prop {
  font-size: 1.1rem !important;
}

.control .btn:hover {
  color: transparent !important;
  border: 2px solid white;
  margin: 10px;
  color: #fff !important;
}

.control .btn {
  border: 2px solid white;
  width: fit-content;
  margin: 10px;
  width: 80%;
  color: #fff;
}

.form-group-add {
  border: 2px solid white;
  padding: 30px;
  width: 100%;
  box-shadow: 20px 20px grey;
  border-radius: 10px;
}

.form-group-add-content {
  margin: 15px;
}

.heart-icon:hover {
  color: red !important;
}

.propertyHead {
  position: relative;
  left: 33%;
  font-size: 24px;
  font-weight: 400;
  color: white;
}

.navbar-text {
  color: white !important;
}

.nav-link {
  color: #e8e8e8 !important;
}

.home-text {
  color: #727d86 !important;
  font-size: larger;
}

.container-prop{
  border: 2px solid white;
  border-radius: 8px;
  padding: 20px 40px 20px 20px;
  box-shadow: 20px 20px grey;
  margin-bottom: 50px;
}

.page-link{
  background-color: transparent !important;
  border: 1px solid white !important;
  color: white !important;
}

.load{
  margin-left: 50% !important;
  margin-top: 15% !important;
}

.top img{
  width: 500px;
  height: 500px;
}

