.navbar-text {
    color: white !important;
}

section.home-section1.slider-sec {
    padding: 0;
}

.slider-data {
    position: relative;
    overflow: hidden;
}

.slider-data::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.slider-caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    text-align: center;
}

.slider-caption h1 {
    color: #fff;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.slider-caption p {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0px;
}

.carousel .thumbs-wrapper {
    margin: 20px;
    overflow: hidden;
    display: none;
}

.navbar {
    background: #0d6efd !important;
}

/*==========================  9. START ABOUT ============================*/
.about .about-title h2::after {
    border: 2px solid #0d6efd;
    content: '';
    position: absolute;
    top: 0;
    width: 60px;
    height: 2px;
    left: 0;
    right: unset;
}
.about .about-title h2{
	position: relative;
	margin-bottom: 24px;
	padding-top: 15px;
}
.about p {
	color: #6A7680;
}
.about .about-box i {
    font-size: 24px;
    color: #0d6efd;
    width: 52px;
    position: absolute;
}
.about .about-inner-data {
    margin-left: 0px;
}
.about .about-inner-data p {
    margin: 0;
}
.about-box.ab-padding{
    padding: 0 30px;
}
section#about {
    background: #101010;
    padding: 100px 0;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    text-decoration: underline !important;
}
.box.prop-box{
    padding: 0 15px;
    margin-top: 30px;
}
.box.prop-box .top img {
    width: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
}
.box.prop-box .bottom h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 15px;
    position: relative;
    padding-right: 30px;
}
.box.prop-box .bottom .about-prop{
    font-size: 12px !important;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0px;
}
.box.prop-box .bottom h1 .heart-icon {
    font-size: 24px !important;
    position: absolute;
    right: 0;
    float: none !important;
    top: -2px;
}
.price svg, .price b {
    color: #dbdb28;
}
/*==========================  END ABOUT ============================*/

.row-filter .dropdown-menu {
    border: 2px solid #333 !important;
    background: #000 !important;
}
.row-filter .dropdown-menu .dropdown-item{
    font-size: 13px;
}
.row-filter .dropdown-toggle {
    border-width: 1px !important;
    font-size: 13px;
}
.filter-column-reset button {
    border-width: 1px !important;
    font-size: 13px;
}

.product-image .carousal {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.info h2.info-title {
    text-align: center;
    font-size: 20px;
}
.product-details .info {
    padding-left: 0;
}

.product-details .info ul{
    padding-left: 0;
  }

  .product-details .info ul li {
    /* flex: 0 0 50%; */
    list-style: inside;
}

.footer p {
    margin: 0;
    padding: 15px 0;
    text-align: center;
}